/*#region daily items */
.wrapper {
	background-color: #fff;
	max-width: 90vw;
	height: 100%;
	padding: 1rem;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.daily-header {
	text-align: center;
	color: var(--clr-primary-400);
	height: 10vh;

	& * {
		margin: 1rem 0;
	}
	a {
		text-decoration: none;
		color: inherit;
	}
}
.daily-list {
	max-width: 70rem;
	margin-left: auto;
	margin-right: auto;
	padding: 2rem;
	border-radius: var(--br-2);
	display: flex;
	flex: 1;
	flex-wrap: wrap;
	gap: 1rem;
	box-shadow: 0 0 0.1rem var(--clr-neutral-300);
	a {
		color: inherit;
		text-decoration: none;
		cursor: pointer;
		transition: all 300ms ease-in-out;
		&:focus,
		&:hover {
			opacity: 0.5;
		}
	}
}
/*#endregion daily items */
