.box {
	width: clamp(18rem, 100%, 27rem);
	height: clamp(9rem, calc(100vw - 9rem), 13.5rem);
	border-radius: 1rem;
	background-color: var(--clr-bg-200);
	background-size: cover;
	position: center center;
	margin-bottom: 2rem;
	transform: translateX(800%);
	transition: transform 1000ms ease-in-out;
	&:nth-of-type(even) {
		transform: translateX(-800%);
	}
	&.show {
		transform: translateX(0);
	}
}

.box-img-1 {
	background-image: url(../assets/img/xavier-von-erlach-RtlnT6RwTg0-unsplash.jpg);
}
.box-img-2 {
	background-image: url(../assets/img/tim-stief-Is1CIqftnNY-unsplash.jpg);
}
.box-img-3 {
	background-image: url(../assets/img/sunyu-kim-qoKsbHSqU-w-unsplash.jpg);
}
.box-img-4 {
	background-image: url(../assets/img/susan-yin-7mnuaPl6Jug-unsplash.jpg);
}
.box-img-5 {
	background-image: url(../assets/img/saira-OTz395r9anM-unsplash.jpg);
}
.box-img-6 {
	background-image: url(../assets/img/robynne-hu-CRvaC071ZXo-unsplash.jpg);
}
.box-img-7 {
	background-image: url(../assets/img/robin-mathlener-gjzTyFGTe2w-unsplash.jpg);
}
.box-img-8 {
	background-image: url(../assets/img/pieter-benjamin-nijs-xkcD-7u6NAc-unsplash.jpg);
}
.box-img-9 {
	background-image: url(../assets/img/filippo-cesarini-6TaW2xmXKUs-unsplash.jpg);
}
.box-img-10 {
	background-image: url(../assets/img/matteo-cancellieri-vo6IB0e6hZU-unsplash.jpg);
}
