.day04 {
	display: flex;
	justify-content: center;
	align-items: center;

	.search {
		position: relative;
		.input {
			background-color: var(--bg-100);
			border: 0;
			font-size: var(--fs-500);
			padding: 1rem;
			height: 3rem;
			width: 3rem;
			border-radius: 3rem;

			transition: width 300ms ease;
			&:focus {
				outline: none;
			}
		}
		&-btn {
			background-color: var(--bg-100);
			color: var(--clr-accent-100);
			cursor: pointer;
			border: 0;
			font-size: var(--fs-600);
			position: absolute;
			top: 0;
			left: 0;
			height: 3rem;
			width: 3rem;
			border-radius: 3rem;
			transition: transform 300ms ease;
			&:focus {
				outline: none;
			}
		}
	}
	.search.active .input {
		width: 18rem;
	}
	.search.active .search-btn {
		transform: translateX(15.375rem);
	}
}
