.day15 {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex: 2;
  }
  .border {
    background-color: var(--clr-accent-400);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    width: 75vw;
    @media (max-width: 50em){
      flex-direction: column;
      height: min-content;
    }
    .counter-container {
      text-align: center;
      color: var(--fg-100);
      padding: 3rem;
      .counter {
        font-size: 3rem;
      }      
      
    }
  }
}
