.bil-bg {
	height: 100%;
	width: 100%;
	background-image: url(https://source.unsplash.com/random);
	background-size: cover;
	background-position: center center;
}
.bil-loading-text {
	position: absolute;
	top: 50%;
	left: 30%;
	transform: translateY(-50%);
	color: var(--clr-bg-100);
	font-size: var(--fs-900);
}
