.day23 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--clr-accent-300);
  font-family: 'Poppins', sans-serif;

  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .h1-small {
    font-weight: 200;
    font-size: 1.5rem;
  }

  .kinetic {
    position: relative;
    height: 5rem;
    width: 5rem;
    &::before, &::after {
      content: '';
      position: absolute;
      // to create a triangle
      top: 0;
      left: 0;
      width: 0;
      height: 0;
      border: 3rem solid transparent;
      
      animation: rotateA 2000ms linear infinite 500ms;
    }
    &::before {
      transform: rotate(90deg);
      animation: rotateB 2000ms linear infinite;
    }
    }
  }


@keyframes rotateA {
  0%, 25% {
    transform: rotate(0deg);
    border-bottom-color: var(--arrow-clr);
  }
  50%, 75% {
    transform: rotate(180deg);
    border-bottom-color: var(--clr-accent-400);
  }
  100% {
    transform: rotate(360deg);
    border-bottom-color: var(--clr-accent-200);
  }
}
@keyframes rotateB {
  0%, 25% {
    transform: rotate(90deg);
    border-bottom-color: var(--clr-accent-200);
  }
  50%, 75% {
    transform: rotate(270deg);
    border-bottom-color: var(--arrow-clr);
  }
  100% {
    transform: rotate(450deg);
    border-bottom-color: var(--clr-accent-400);
  }
}