.bg {
	--bg: var(--clr-bg-500);
}
.form-control-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	background-color: rgba(0, 0, 0, 0.2);
	color: var(--clr-neutral-100);
	box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
	> * + * {
		margin-top: 1rem;
	}
	> form > * + * {
		margin-top: 1rem;
	}

	a {
		margin-left: 1rem;
		text-decoration: none;
		color: var(--clr-primary-200);
		&:hover,
		&:focus {
			opacity: 0.8;
		}
		&:active {
			color: white;
		}
	}
	.day08-btn {
		cursor: pointer;
		display: inline-block;
		text-transform: uppercase;
		color: var(--clr-neutral-500);
		font-weight: 700;
		background-color: var(--clr-primary-200);
		border: 0;
		width: 100%;
		padding: 0.5rem;
		border-radius: 0.25rem;
		&:hover,
		&:focus {
			opacity: 0.8;
		}
		&:active {
			transform: scale(0.98);
		}
	}
	.form-control {
		position: relative;
		input {
			background-color: transparent;
			border: 0;
			border-bottom: 0.125rem solid white;
			display: block;
			width: 100%;
			padding: 1rem 0;
			font-size: var(--fs-500);
			color: var(--clr-neutral-100);
			&:focus,
			&:valid {
				outline: none;
				border-color: var(--clr-primary-200);
				+ label span {
					color: var(--clr-primary-200);
					transform: translateY(-2rem);
				}
			}
		}
		label {
			position: absolute;
			top: 1rem;
			left: 0;
			span {
				display: inline-block;
				font-size: var(--fs-500);
				min-width: 0.3125rem;
				transition: 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
			}
		}
	}
}
