.day03 {
	font-family: 'Lato', sans-serif;
	width: 100%;
	overflow-x: hidden;
	background-color: var(--clr-bg-100);
	transform-origin: top left;
	transition: transform 300ms linear;
	padding: 3rem 7rem;
	position: relative;
	z-index: 1;

	&.show-nav {
		transform: rotate(-20deg);
		+ nav li {
			opacity: 1;
			transform: translateX(0);
			transition-delay: 300ms;
		}
		.circle {
			transform: rotate(-90deg);
		}
	}
}
.circle-container {
	position: absolute;
	top: -6.25rem;
	left: -6.25rem;
	.circle {
		position: relative;
		background-color: var(--clr-primary-500);
		height: 12.5rem;
		width: 12.5rem;
		border-radius: 12.5rem;
		transition: transform 300ms linear;
		button {
			position: absolute;
			top: 50%;
			left: 50%;
			height: 6.25rem;
			background: transparent;
			border: none;
			font-size: var(--fs-600);
			color: var(--clr-neutral-100);
			cursor: pointer;
			&:focus {
				outline: none;
			}
			&#open {
				left: 60%;
			}
			&#close {
				top: 60%;
				transform: rotate(90deg);
				transform-origin: top left;
			}
		}
	}
}
.content {
	max-width: 90rem;
	margin: 0 auto;
	* + * {
		margin-top: 2em;
	}
	small {
		color: var(--clr-neutral-300);
	}
	img {
		max-width: 100%;
		flex: 1;
	}
	p {
		flex: 1;
		@media (min-width: 62rem) {
			columns: 2;
			column-gap: 2rem;
		}
	}
}

nav {
	position: relative;

	a {
		display: inline-block;
		width: 100%;
		padding: 0.2rem 0.75rem;
		border-radius: 2rem;
		cursor: pointer;
		text-decoration: none;
		color: var(--clr-neutral-100);
		transition: all 300ms linear;
		&:hover {
			opacity: 0.7;
			background-color: var(--clr-bg-600);
		}
		i {
			margin-right: 0.5rem;
		}
	}
	ul {
		position: absolute;
		list-style: none;
		left: 0.5rem;
		bottom: 0.5rem;
		font-size: 1.5rem;
		transition: transform 300ms ease-in;
		* + * {
			margin-top: 1rem;
		}
		li {
			opacity: 0;
			transform: translateX(-100%);
		}
		> li + li {
			margin-left: 1rem;
			transform: translateX(-150%);
		}
		> li + li + li {
			margin-left: 2rem;
			transform: translateX(-200%);
		}
	}
}
