  .day21 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100vh;
    background-color: var(--clr-accent-400);
    header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
    }
    footer {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
    }
    @media (min-width: 45rem) {
      flex-direction: row;
    }
    .empty {
      width: 8rem;
      height: 8rem;
      border: 0.2rem solid var(--fg-900);
      background-color: var(--bg-100);
      &.hovered {
        background-color: var(--bg-800);
        border-color:var(--fg-100);
        border: dashed;
      }
    }
    .fill {
      background-image: url('https://source.unsplash.com/random/150x150');
      background-position: center center;
      background-size: cover;
      width: 7.65rem;
      height: 7.65rem;
      cursor: grab;
      cursor: move;
      &:active {
        cursor: grabbing;

      }
      &.hold {
        border: 0.25rem solid var(--fg-300)

      }


    }


  }