.footer {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	background-color: var(--clr-accent-100);
	color: var(--bg-100, white);
	a {
		width: 10rem;
		padding: 0.1rem 0.75rem;
		border-radius: 0.25rem;
		margin-left: auto;
		margin-right: auto;
		cursor: pointer;
		color: inherit;
		border: 1px solid white;
		&:focus,
		&:hover {
			opacity: 0.6;
		}
		&:active {
			transform: scale(0.97);
		}
	}
	> * + * {
		margin-top: 0.5rem;
	}
}
