.header {
	
	text-align: center;
	background-color: var(--clr-accent-100);
	padding: 0.5rem;
	color: var(--bg-100, white);
	* + * {
		margin-top: 0.5rem;
	}
	h1 {
		font-weight: 300;
		font-size: 1.5rem;
	}
	h3 {
		font-size: 1rem;
		font-weight: 300;
		> a {
			padding: 0 0.5rem;
			border-radius: 0.5rem;
			&:hover{
				background-color:  hsl(344, 100%, 72%);
			}
			&:active {
				transform: scale(0.97);
			}
		}
	}
	@media (min-width: 40rem) {
		padding: 1rem;
		h1 {
			font-size: 2rem;
		}
		h3 {
			font-size: 1.25rem;
		}
	}
}
