@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.index {
	font-family: 'Poppins';
	font-weight: 300;
	font-size: var(--fs-400);
	line-height: 1.6;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	
	main {
		flex: 2;
	}
	&.xmas {
		background-image: url(../assets/img/happy-new-year-2021.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		&::after{
			position: absolute;
			top: 0;
			height: 100%;
			width: 100%;
			content: '';
			background-image: linear-gradient(
				rgba(0,0,0,0) 0%,
				 rgba(0,0,0,0.75) 40%, 
				 rgba(0,0,0,0.75) 60%, 
				 rgba(0,0,0,0) 100%,);
		
			}
		header, footer {
			background: transparent;
			color:var(--clr-accent-100);
			text-align: center;
			transform: translateX(-3rem);
		}
	}

	a {
		text-decoration: none;
		color: inherit;
	}
	.site-wrapper {	
		display: flex;
		flex-direction: column;
		gap: 1rem;
		min-height: 100vh;	
		}

	.toc {
		position: relative;
		margin: 0;
		flex: 3;
		color: #fff;
		z-index: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.project {
			max-width: 80rem;
			margin: 0 auto;
				@media (min-width: 40rem) {
			columns: 2;
			column-gap: 1rem;
			}
			@media (min-width: 60rem) {
				columns: 3;
				column-gap: 1rem;
			}
	
		}
	}
}