.gallery-wrapper {
	display: flex;
	background-color: #fff;
	gap: 1rem;
	max-width: 90vw;
	height: 100%;
	padding: 1rem;
	margin-left: auto;
	margin-right: auto;
}

.bg-img1 {
	background-image: url(../assets/filippo-cesarini-6TaW2xmXKUs-unsplash.jpg);
}
.bg-img2 {
	background-image: url(../assets/matteo-cancellieri-vo6IB0e6hZU-unsplash.jpg);
}
.bg-img3 {
	background-image: url(../assets/robin-mathlener-gjzTyFGTe2w-unsplash.jpg);
}
.bg-img4 {
	background-image: url(../assets/saira-OTz395r9anM-unsplash.jpg);
}
.bg-img5 {
	background-image: url(../assets/mike-c-s-6jjm2w6O5rE-unsplash.jpg);
}
.bg-img6 {
	background-image: url(../assets/pieter-benjamin-nijs-xkcD-7u6NAc-unsplash.jpg);
}
